* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.wrapper {
  display: grid;
  grid-gap: 30px;
}

.header {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10vh;
  min-height: 25vh;
}

.wrapper {
  margin: 0 10vw;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  
}
.profile-img img {
  width: 200px;
  height: auto;
}

.profile-box {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "profile-img basic-info"
    "profile-img social-contacts";
}

.profile-img {
  grid-area: profile-img;
  align-self: end;
}

.basic-info {
  grid-area: basic-info;
}

.social-contacts {
  grid-area: social-contacts;
}
