/* @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap"); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --common-background: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Lato";
  box-sizing: border-box;
  font-weight: 100;
}

body {
  background-color: rgb(218, 227, 231);
}
.wrapper {
  display: grid;
  grid-gap: 30px;
  background-color: var(--common-background);
  padding: 20px;
}

.header {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-areas: "profile-box . contact-me";
  margin-bottom: 10vh;
  min-height: 20vh;
  border-top: 10px solid rgba(100, 148, 237, 0.651);
  background-color: var(--common-background);
  padding: 20px 0;
}

.wrapper {
  margin: 0 10vw;
}

.profile-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img img {
  width: 200px;
  height: auto;
}

.profile-box {
  display: grid;
  grid-gap: 10px 20px;
  grid-area: profile-box;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "profile-img basic-info"
    "profile-img social-contacts";
}

.profile-img {
  grid-area: profile-img;
  /* align-items: end; */
  justify-self: end;
}

.basic-info {
  grid-area: basic-info;
  justify-self: start;
  align-self: end;
}

.basic-info h1 {
  font-size: 2rem;
}

.basic-info p {
  font-weight: 900;
  color: grey;
}

.social-contacts {
  grid-area: social-contacts;
  justify-self: start;
  align-self: start;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  justify-content: space-between;
}

.social-contacts a {
  margin: 0 5px;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  outline: none;
  text-align: center;
}

.contact-me {
  align-self: center;
  justify-self: center;
  grid-area: contact-me;
}

.btn {
  padding: 10px 30px;
  font-size: 1.2em;
  border: none;
  background: grey;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 900;
  user-select: none;
  transition: background-color 200ms ease-in, border 1000ms ease-in;
}

.btn-green {
  background-color: green;
}

.btn:hover {
  background-color: rgb(0, 110, 0);
  border: 3px solid rgba(121, 154, 216, 0.404);
}

.wrapper h2 {
  margin-bottom: 20px;
  font-weight: 900;
}

.about-me p {
  font-weight: 200;
}
